.hi{
    background: yellow;
        position: relative;
        line-height: 1.9;
        text-transform: uppercase;
        color: #303030;
        display: block;
        border-radius: 4px;
        margin: 5px 10px;
        padding: 5px 8px;
        font-size: initial;
        font-weight: 600;
}