.hi{
        background: #007bff;
        position: relative;
        line-height: 1.9;
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        border-radius: 4px;
        margin: 5px 10px;
        padding: 5px 8px;
        font-size: initial;
        font-weight: 600;
        text-align: center;
}
.collapse.show {
    display: block;
    background-color: transparent;
}
.side-navbar li ul li a{
    color: #c2c7d0;
}
#side-main-menu span{
    font-size: 15px;
}
#side-main-menu span a{
    font-weight: 600;

}
#side-main-menu a{
    font-weight: 600;
    font-size: 15px;
}
nav.navbar{
    background-color: #4f5962 !important;
}
nav.navbar a.menu-btn{
    color: #fff;
}
nav.navbar .nav-item a i{
    color: #fff;
}
nav.navbar .nav-item a:hover{
    background: transparent;
}

nav.navbar .nav-item span{
    color: #fff;
}
.right-sidebar{
    background-color: #4f5962 !important;
}
.right-sidebar a{
    color: #fff;
}
nav.navbar a.menu-btn{
    color: #fff;
}
